<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="form.js" defer></script>
    <title>Document</title>

</head>

<body>
    <%- include('header') %>

        <div class="register-form">
            <div class="register">
                <h1>Register</h1>
                <div>
                    <form action="/memberlist/form" method="POST">
                        <label for="name">Name:</label>
                        <input type="text" placeholder="name" id="name" name="name"> <br>
                        <label for="email">Email:</label>
                        <input type="email" placeholder="email" id="email" name="email"> <br>
                        <label for="phone">Phone:</label>
                        <input type="tel" placeholder="telephone" id="phone" name="phone"> <br>
                        <input type="date" id="date" name="date"> <br>
                        <label for="message">Message:</label><br>
                        <textarea placeholder="Write something here" id="message" name="message"></textarea> <br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>


        <%- include('footer') %>

</body>

</html>