<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
      <nav>
        <form action="/">
            <a href="/">Home</a>
        </form>
        <form action="/memberlist">
            <a href="/memberlist">All member</a>
        </form>
        <form action="/register">
            <a href="/register">Register</a>
        </form>
      </nav>    
    </header>
    